body,html {
  margin: 0;
  padding: 0;
}

#main {
  margin: 20px auto;
  width: 260px;
}

#calc {
  margin-left:53px;
  width: 60px;
}

span{
  color:red;
  margin-left:5px;
}

input {
  margin: 5px 0;
}

#width-validate,#height-validate{
  color:red;
  margin-left:53px;

}

